/* NBlue #18121E Gunmetal #244247 Red #984843 Yellow #EAC67A */
/* RGB val: NBlue (24,18,30) Gmetal (36, 66, 71) Red (152, 72, 67) Yellow (234,198,122) */


/* Header and splash images
------------------------------------------------------------- */
header {
  background: #18121e;
}

header h1 {
  font-size:5rem;
}

body {
  color: #ffffff;
  background-color: #233237;
}

.splashImage {
  background-image: linear-gradient(
    90deg,
    rgba(24,18,30, 1) 0%,
    rgba(24,18,30, 1) 5%,
    rgba(24,18,30, 0.35) 30%,
    rgba(24,18,30, 0.35) 70%,
    rgba(24,18,30, 1) 95%,
    rgba(24,18,30, 1) 100%
  ), url("../images/digital/Tea, earl grey, hot.jpg");
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  margin: 0 auto;
  max-height: 600px;
  max-width: 1066px;
}

.splashImage:after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

#splashImageCover {
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.splashContent {
  text-align: center;
}


/* Nav Bar
---------------------------------------------------- */

nav {
  background: #18121E;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  padding: 0;
  margin: 0;
  border-right: black;
}

nav li a{
  display: inline;
  color: white;
  padding: 2.5rem;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  
}

nav li a:hover {
  background-color: rgb(43, 33, 53);
  color: white;
}

nav a.active {
  background-color: #244247;
}

nav a.active:hover {
  background-color: #244247;
}

